; https://flake8.pycqa.org/en/latest/user/configuration.html#
[flake8]
exclude = .git,__pycache__,docs/source/conf.py,old,build,dist
max-complexity = 6
max-doc-length = 80
max-line-length = 300
indent-size = 4
